# Dependencies
node_modules/

# Production build outputs
dist/

# Local environmental overrides
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files
.vscode/
.idea/
